
.nav{
	grid-area: n;
	border-top: solid #818181 3px;
	background-color: #282828;
	padding: 20px;
}

.item a {
	font-family: 'Times New Roman';
	font-size: 20px;
	color: #818181;
	text-decoration: none;
}

.item a.active {
	color: white;
}